<div class="container-fluid mt-4">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Bitácoras del Sistema</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="bitacoraTable" class="table table-bordered table-hover datatable" style="width:100%">
                    <thead>
                        <tr>
                            <th>Fecha y Hora</th>
                            <th>Usuario</th>
                            <th>Rol</th>
                            <th>IP</th>
                            <th>Navegador</th>
                            <th>Acción</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each logs}}
                            <tr>
                                <td>{{formatDateBitacora timestamp}}</td>
                                <td>{{user}}</td>
                                <td>{{role}}</td>
                                <td>{{ip}}</td>
                                <td>{{browser}}</td>
                                <td style="color: {{methodColor method}};">{{method}} {{route}}</td>
                                <td style="color: {{statusColor statusCode}};">{{statusCode}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
