<div class="container p-4">
  <div class="row justify-content-center">
    <h1>Agregar Nuevo Costo Fijo</h1>
  </div>
  
  <div class="row justify-content-center mt-4">
    <div class="col-md-6">
      
      {{!-- Formulario para agregar nuevo costo fijo --}}
      <form method="POST" action="/costos/new" id="alertFormSave" class="bg-white p-4 rounded shadow-sm">
        
        <div class="form-group">
          <label for="nombre">Nombre del Costo Fijo</label>
          <input type="text" class="form-control" name="nombre" placeholder="Nombre del costo fijo" value="{{costoFijo.nombre}}" required autofocus>
        </div>
        
        <div class="form-group">
          <label for="monto">Monto</label>
          <input type="number" step="0.01" class="form-control" name="monto" placeholder="Monto en ##.##" value="{{costoFijo.monto}}" required>
        </div>
        
        <div class="form-group">
          <label for="descripcion">Descripción</label>
          <textarea class="form-control" name="descripcion" placeholder="Descripción del costo fijo">{{costoFijo.descripcion}}</textarea>
        </div>
        
        <div class="form-group">
          <label for="fechaInicio">Fecha de Inicio</label>
          <input type="date" class="form-control" name="fechaInicio" value="{{formatDateForInput costoFijo.fechaInicio}}" required>
        </div>
        
        <div class="form-group">
          <label for="fechaFin">Fecha de Fin</label>
          <input type="date" class="form-control" name="fechaFin" value="{{formatDateForInput costoFijo.fechaFin}}">
        </div>

        <div class="form-group">
          <label for="estado">Estado</label>
            <select class="form-control" name="estado" required>
                <option value="true">Activo</option>
                <option value="false">Inactivo</option>
            </select>
        </div>

        <div class="form-group row">
          <div class="col-6 pl-1">
            <a href="/costos" class="btn btn-secondary btn-block">Cancelar</a> <!-- Botón para cancelar -->
          </div>
          <div class="col-6 pr-1">
           <button class="btn btn-success btn-block" type="submit">Agregar Costo Fijo</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
