<div class="container p-4">
  <div class="row justify-content-center">
    <h1>Modificar Servicio</h1>
  </div>
  
  <div class="row justify-content-center mt-4">
    <div class="col-md-6">
      
      {{!-- Mostrar errores si existen --}}
      {{#if errors}}
        <div class="alert alert-danger">
          <ul>
            {{#each errors}}
              <li>{{this.msg}}</li>
            {{/each}}
          </ul>
        </div>
      {{/if}}

      {{!-- Formulario para modificar servicio --}}
      <form method="POST" action="/servicios/edit/{{servicio.id}}?_method=PUT" id="servicioForm">
        
        <div class="form-group">
          <input type="text" class="form-control" name="servicio" placeholder="Nombre del Servicio" value="{{servicio.servicio}}" required autofocus>
        </div>
        
        <div class="form-group">
          <input type="number" step="0.01" class="form-control" name="precio" placeholder="Precio" value="{{servicio.precio}}" required>
        </div>
        
        <div class="form-group">
          <textarea class="form-control" name="descripcion" placeholder="Descripción del Servicio" required>{{servicio.descripcion}}</textarea>
        </div>
        
        <div class="form-group">
          <select class="form-control" name="tipo_pago" required>
            <option value="" disabled>Seleccione el tipo de pago</option>
            <option value="Mensual" {{#eq servicio.tipo_pago 'Mensual'}}selected{{/eq}}>Mensual</option>
            <option value="Anual" {{#eq servicio.tipo_pago 'Anual'}}selected{{/eq}}>Anual</option>
          </select>
        </div>
        
        <div class="form-group text-center mt-4">
          <button class="btn btn-primary" type="submit">Guardar Cambios</button>
          <a href="/servicios" class="btn btn-secondary ml-2">Cancelar</a> <!-- Botón para cancelar -->
        </div>
        
      </form>
    </div>
  </div>
</div>

<script>
  // Mostrar el spinner al enviar el formulario
  document.getElementById('servicioForm').addEventListener('submit', function(event) {
    event.preventDefault(); // Prevenir el envío del formulario
    Swal.fire({
     title: 'Guardando cambios...',
      text: 'Por favor, espera mientras se procesan los cambios.',
      allowOutsideClick: false,
      didOpen: () => {
        Swal.showLoading();
      }
    });

    // Enviar el formulario después de mostrar el spinner
    this.submit();
  });
</script>
