<div class="container p-4">
  <div class="row justify-content-center">
    <h1>Agregar Nuevo Usuario</h1>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-md-6">
      {{#if errors}}
        <div class="alert alert-danger">
          <ul>
            {{#each errors}}
              <li>{{this.msg}}</li>
            {{/each}}
          </ul>
        </div>
      {{/if}}

      {{!-- Formulario para agregar nuevo usuario --}}
      <form method="POST" action="/usuarios/new" id="alertFormSave">
        
        <div class="form-group">
          <label for="email">Correo electrónico</label>
          <input type="email" class="form-control" name="email" placeholder="example@airlink.com.sv" required autofocus>
        </div>

        <div class="form-group">
          <label for="password">Contraseña</label>
          <input type="password" class="form-control" name="password" placeholder="Contraseña" required>
        </div>
        
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" placeholder="Juan Pérez" required>
        </div>

        <div class="form-group">
          <label for="rolId">Rol</label>
          <select class="form-control" name="rolId" id="rolSelect" required>
            <option value="" disabled selected>Seleccione un rol</option>
            {{#each roles}}
              <option value="{{this.id}}">{{this.nombre}}</option>
            {{/each}}
          </select>
        </div>

        <div class="form-group" id="clienteSelectGroup" style="display:none;">
          <label for="clienteId">Asignar Cliente</label>
          <select class="form-control" name="clienteId">
            <option value="" disabled selected>Seleccione un cliente</option>
            {{#each clientes}}
              <option value="{{this.id}}">{{this.nombres}} {{this.apellidos}}</option>
            {{/each}}
          </select>
        </div>

        <div class="form-group">
          <label for="estado">Estado</label>
          <select class="form-control" name="activo" required>
            <option value="true">Activo</option>
            <option value="false">Inactivo</option>
          </select>
        </div>

        <div class="form-group row">
          <div class="col-6 pr-1">
           <button class="btn btn-success btn-block" type="submit">Agregar Usuario</button>
          </div>
          <div class="col-6 pl-1">
            <a href="/usuarios" class="btn btn-secondary btn-block">Cancelar</a> <!-- Botón para cancelar -->
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

<script>
  // Mostrar el selector de cliente solo si el rol no es Admin
  document.getElementById('rolSelect').addEventListener('change', function() {
    const selectedRole = this.options[this.selectedIndex].text;
    const clienteSelectGroup = document.getElementById('clienteSelectGroup');
    
    if (selectedRole === 'Administrador') {
      clienteSelectGroup.style.display = 'none'; // Ocultar el campo cliente si es Admin
    } else {
      clienteSelectGroup.style.display = 'block'; // Mostrar el campo cliente si no es Admin
    }
  });
</script>
