<div class="container-fluid p-4">
    <div class="row">
        <div class="col-12 col-md-6">
            <h3>Listado de Equipos CPE</h3>
        </div>
        <div class="col-12 col-md-6 text-md-right text-center">
            <a href="/equipos/new" class="btn btn-success mb-2">Agregar Equipo CPE</a>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>TIPO</th>
                            <th>MARCA</th>
                            <th>NOMBRE</th>
                            <th>DESCRIPCION</th>
                            <th>IMAGEN</th>
                            <th>ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each equipos}}
                            <tr>
                                <td>{{hash}}</td>
                                <td>{{tipo}}</td>
                                <td>{{marca}}</td>
                                <td>{{nombre_equipo}}</td>
                                <td>{{descripcion}}</td>
                                <td>
                                    <img src="{{img_equipo}}" alt="Imagen de {{nombre_equipo}}" class="img-thumbnail" width="100">
                                </td>
                                <td>
                                    <a href="#" class="btn btn-primary btn-sm" title="Modificar" onclick="window.location.href='/equipos/edit/{{id}}'">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="javascript:void(0);" onclick="confirmDelete('{{id}}', '{{nombre_equipo}}')" class="btn btn-danger btn-sm" title="Eliminar">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="/plugins/sweetalert2/sweetalert2.all.min.js"></script>
<script>
  function confirmDelete(id, nombreEquipo) {
    Swal.fire({
      title: '¿Estás seguro?',
      text: `Estás a punto de eliminar el equipo CPE: ${nombreEquipo}. Esta acción no se puede deshacer.`,
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Sí, eliminar',
      cancelButtonText: 'Cancelar'
    }).then((result) => {
      if (result.isConfirmed) {
        // Redirigir a la ruta de eliminación si se confirma
        window.location.href = `/equipos/delete/${id}`;
      }
    });
  }
</script>

